*{
  cursor: url('images/cursor\ _quiz.png'),auto;
}
.quiz-container {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1px;
  transform: translateY(-40px);
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
 
}

#title {
  font-size: 80px;
  margin-top: 35px;
  text-align: center;
  background-image: url('images/title.jpeg');
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.quiz-container:hover {
  box-shadow: 0px 0px 20px white;
}

.quiz-container .timer {
  font-weight: bold;
  text-align: right;
  margin-bottom: 16px;
}

body {
  background: url('images/quiz-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.timer.danger {
  color: red;
}

.quiz-container h2.question {
  font-size: 20px;
  background: #d0ecff;
  padding: 16px;
  border-radius: 8px;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 20px;
}

.quiz-container .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 20px;
}

.quiz-container .option {
  border: none;
  padding: 16px;
  font-size: 16px;
  background-color: #1d3557;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.option.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.option.correct {
  background-color: #51e351;
  color: #222222;
}

.option.incorrect {
  background-color: red;
  color: #fff;
}

.quiz-container .next-btn {
  background: #222;
  color: #fff;
  border: none;
  padding: 12px 32px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  width: fit-content;
  margin-top: 16px;
}

.quiz-result {
  display: none;
  flex-direction: column;
  gap: 24px;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  padding: 16px;
  margin-top: 2px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.quiz-result .question-container {
  padding: 12px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
}

.quiz-result .question-container.incorrect {
  background-color: red;
  color: white;
}

.quiz-result .question-container.correct {
  background-color: green;
  color: white;
}

.question-number {
  font-size: 16px;
  background: #1d3557;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  margin-right: 16px;
}
